body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #333;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.book-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.book-author {
    font-size: 1em;
    color: #777;
    margin-bottom: 8px;
}

.book-genre {
    font-size: 0.9em;
    color: #555;
    background-color: #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.book-description {
    font-size: 0.9em;
    color: #666;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.book-details {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.book-info p {
    font-size: 16px;
    line-height: 1.5;
}

.book-resume {
    margin-top: 20px;
}

.book-cover img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}